/*sets entire page*/
body {
	margin: 0;
	padding: 0;
	width: 100%;
	display: flex;
	flex-flow: row wrap;
	width: 100%;
	background-color: #303442;
}




/*styles deck page*/
#deckPage {
	display: flex;
	flex-flow: row nowrap;
	width: 100%;
	margin-top: 45px;
	justify-content: space-around;
	font-size: 60px;
}

/*next/last buttons*/
#nextCard, #lastCard {
	border-radius: 100%;
	height: 120px;
	width: 120px;
	font-size: 60px;
}

/*container of container 2 and flip button*/
#container1 {
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
	margin: 0 20px 0 400px;
}

#buttonsContainer {
	display: flex;
	flex-flow: column wrap;
	align-self: center;
	justify-content: center;
	margin: 0 400px 0 20px;
}

/*container of save/load buttons*/
#container2 {
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
}

/*container of card and next/last card buttons*/
#container3 {
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
}

/*style for card*/
.scene {
	margin: 20px;
	display: flex;
	flex-flow: column wrap;
	width: 350px;
	height: 500px;
	perspective: 600px;
	word-wrap: break-word;
}

#cardId {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	width: 100%;
	height: 100%;
	position: relative;
	transition-duration: 1s;
	transform-style: preserve-3d;  
	transform-origin: center right;
}

.card_face {
	position: absolute;
	width: 100%;
	height: 100%;
	backface-visibility: hidden;
}

.card_face--front {
	background-color: #ff7878;
	border: solid;
	border-width: 18px;
	border-color: #eb0000;
	border-radius: 60px;
}

.card_face--back {
	background-color: #4984eb;
	border: solid;
	border-width: 18px;
	border-radius: 60px;
	border-color: #001aff;
	transform: rotateY(180deg);
}

#front, #back {
	margin: 18px;
	height: 460px;
	overflow: auto;
	text-overflow: ellipsis;
}

/*animation for card flip*/
.flip {
	transform: translateX(-100%) rotateY(-180deg);
}

#flipButton {
	margin: 35px 10px 10px 10px;
}




/*style for buttons*/
button {
	margin: 10px;
	background-color: #a9a0ba;
  	border-color: #815c96;
  	border-width: 12px;
  	border-radius: 30px;
  	border-style: solid; 
  	font-weight: bold;
  	color: #334d33;
  	font-size: 25px;
	width: 180px;
}

/*animations for button hover*/
@keyframes buttonHover {
	0% {background-color: #7b6787; border-color: #a9a0ba; color: #334d33;}
	50% {background-color: #a88fb8; border-color: #cabfe0; color: #406140;}
	100% {background-color: #7b6787; border-color: #a9a0ba; color: #334d33;}
}

button:hover {
	animation-name: buttonHover;
	animation-duration: 1.75s;
	animation-iteration-count: infinite;
}




/*styles new card page*/
#createCardPage {
	display: flex;
	flex-flow: row wrap;
	width: 100%;
	color: #35dba7;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	justify-content: center;
	margin: 40px;
	font-size: 50px;
}

#newCardDivContainer {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
}

.newCardDiv {
	display: flex;
	flex-flow: row nowrap;
	justify-content: flex-start;
}

#questionLabel, #answerLabel {
	display: flex;
	flex-flow: row nowrap;
	justify-content: flex-end;
	width: 200px;
}

textarea {
	height: 600px; 
	width: 400px;
	font-size: 40px;
	margin: 10px 35px 10px 35px;
}

#newCardButtons {
	display: flex;
	flex-flow: column wrap;
	align-self: center;
}

/*styles load deck page*/
#loadDeckPage {
	width: 100%;
	display: flex;
	flex-flow: column wrap;
	align-content: center;
}

#saveFiles {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	margin: 50px 0 0 0;
}

.loadfile{
	overflow: auto;
	margin: 10px;
	background-color: #FFEE99;
  	border-color: #F6B336;
  	border-width: 6px;
  	border-radius: 12px;
  	border-style: solid; 
  	font-weight: bold;
  	color: #1D1C77;
  	font-size: 25px;
	width: 200px;
	height: 100px;
}

@keyframes loadfileHover {
	0% {background-color: #FFC55B; border-color: #FFEE99; color: #1D1C77;}
	50% {background-color: #FFE1AD; border-color: #FFF8D6; color: #3232C2;}
	100% {background-color: #FFC55B; border-color: #FFEE99; color: #1D1C77;}
}

.loadfile:hover {
	animation-name: loadfileHover;
	animation-duration: 1.75s;
	animation-iteration-count: infinite;
}

#returnFromLoad {
	display: flex;
	align-self: center;
	justify-content: center;
	margin: 50px 0 0 0;
}

/*styles save deck page*/
#saveDeckPage {
	display: flex;
	flex-flow: column wrap;
	width: 100%;
	color: #35dba7;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	align-content: center;
	margin: 60px 40px 40px 0;
	font-size: 50px;
}

#deckNameContainer {
	display: flex;
	flex-flow: row nowrap;
	white-space: nowrap;
}


#saveInput {
	display: flex;
	flex-flow: row wrap;
	font-size: 30px;
	width: 500px;
	margin: 0 0 0 20px;
}

#saveButtons {
	align-self: center;
	margin: 30px 0 0 0;
}

/*styles load deck page*/
#deleteDeckPage {
	width: 100%;
	display: flex;
	flex-flow: column wrap;
	align-content: center;
}

#saveFilesDel {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	margin: 50px 0 0 0;
}

#returnFromDelete {
	display: flex;
	align-self: center;
	justify-content: center;
	margin: 50px 0 0 0;
}













































@media only screen and (max-width: 768px) {
	/*sets entire page*/
	body {
		margin: 10px 0 0 0;
		padding: 0;
		font-size: 20px;
		width: 100%;
		background-color: #303442;
	}




	/*styles deck page*/
	#deckPage {
		width: 100%;
		display: flex;
		flex-flow: column nowrap;
		align-items: center;
		font-size: 27px;
		margin: 5px 0 0 0;
	}

	/*next/last buttons*/
	#nextCard, #lastCard {
		background-color: #a9a0ba;
		border-radius: 100%;
		height: 35px;
		width: 35px;
		font-size: 20px;
	}

	/*container of container 2 and flip button*/
	#container1 {
		background: none;
		display: flex;
		flex-flow: column nowrap;
		align-items: center;
		margin: 0;
	}

	/*container of save/load buttons*/
	#container2 {
		background: none;
		display: flex;
		flex-flow: row nowrap;
		align-items: center;
	}

	/*container of card and next/last card buttons*/
	#container3 {
		display: flex;
		flex-flow: row nowrap;
		align-items: center;
		margin: 12px 0 0 0;
	}

	/*styles card*/
	.scene {
		margin: 0 8px 0 8px;
		width: 140px;
		height: 210px;
		perspective: 600px;
		word-wrap: break-word;
		font-size: 20px;
	}

	#cardId {
		width: 100%;
		height: 100%;
		position: relative;
		transition: 1s;
		transform-style: preserve-3d;  
		transform-origin: center right;
	}


	.card_face {
		position: absolute;
		width: 100%;
		height: 100%;
		backface-visibility: hidden;
	}

	.card_face--front {
		background-color: #ff7878;
		border: solid;
		border-width: 6px;
		border-color: #eb0000;
		border-radius: 20px;
	}

	.card_face--back {
		background-color: #4984eb;
		border: solid;
		border-width: 6px;
		border-radius: 20px;
		border-color: #001aff;
		transform: rotateY(180deg);
	}

	#front, #back {
		margin: 7px 0 0 4px;
		height: 195px;
		overflow: auto;
		text-overflow: ellipsis;
	}

	/*animation for card flip*/
	.flip {
		transform: translateX(-100%) rotateY(-180deg);
	}

	#flipButton {
		width: 80px;
		display: flex;
		flex-flow: row wrap;
		justify-content: center;
		align-content: center;
		margin: 25px 0 3px 0;
	}

	/*code for buttons*/
	#buttonsContainer {
		background: none;
		width: 175px;
		display: flex;
		flex-flow: row wrap;
		justify-content: center;
		margin: 0;
	}




	button {
		margin: 3px;
		background-color: #a9a0ba;
	  	border-color: #815c96;
	  	border-width: 4px;
	  	border-radius: 10px;
	  	border-style: solid; 
	  	font-weight: bold;
	  	color: #334d33;
	  	font-size: 12px;
		width: 80px;
	}

	/*animations for button hover*/
	@keyframes buttonHover {
		0% {background-color: #7b6787; border-color: #a9a0ba; color: #334d33;}
		50% {background-color: #a88fb8; border-color: #cabfe0; color: #406140;}
		100% {background-color: #7b6787; border-color: #a9a0ba; color: #334d33;}
	}

	button:hover {
		animation-name: buttonHover;
		animation-duration: 1.75s;
		animation-iteration-count: infinite;
	}




	/*styles new card page*/
	#createCardPage {
		display: flex;
		flex-flow: column wrap;
		width: 100%;
		color: #35dba7;
		font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
		justify-content: center;
		align-items: center;
		font-size: 16px;
		margin: 20px 0 0 0;
	}

	#newCardDivContainer {
		display: flex;
		flex-flow: column nowrap;
		width: 200px;
		margin: 0;
	}

	.newCardDiv {
		display: flex;
		flex-flow: row nowrap;
		justify-content: center;
		margin: 0 0 5px 0;
	}

	#questionLabel, #answerLabel {
		display: flex;
		flex-flow: row nowrap;
		justify-content: flex-start;
		margin: 0;
		width: 100%;
	}

	textarea {
		height: 160px;
		min-width: 10px;
		max-width: 115px;
		font-size: 12px;
		margin: 0;
	}

	#newCardButtons {
		display: flex;
		flex-flow: column wrap;
		align-self: center;
		margin: 15px 0 0 0;
	}

	/*styles load deck page*/
	#loadDeckPage {
		width: 100%;
		display: flex;
		flex-flow: column wrap;
		align-content: center;
		color: white;
	}

	#saveFiles {
		display: flex;
		flex-flow: column wrap;
		justify-content: center;
		margin: 20px 0 0 0;
	}

	.loadfile{
	margin: 5px;
  	border-width: 3px;
  	border-radius: 6px;
  	font-size: 12px;
	width: 140px;
	height: 50px;
	}

	#returnFromLoad {
		display: flex;
		flex-flow: column wrap;
		align-self: center;
		margin: 20px 0 0 0;
	}

	/*styles save deck page*/
	#saveDeckPage {
		display: flex;
		flex-flow: column wrap;
		width: 100%;
		color: #35dba7;
		font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
		align-content: center;
		margin: 20px 0 0 0;
		font-size: 16px;
	}

	#deckNameContainer {
		display: flex;
		flex-flow: column nowrap;
		align-content: center;
		white-space: nowrap;
	}


	#saveInput {
		display: flex;
		align-self: center;
		font-size: 12px;
		width: 200px;
		margin: 0;
	}

	#saveButtons {
		display: flex;
		flex-flow: column wrap;
		align-self: center;
		margin: 20px 0 0 0;
	}

	/*styles load deck page*/
	#deleteDeckPage {
		width: 100%;
		display: flex;
		flex-flow: column wrap;
		align-content: center;
	}

	#saveFilesDel {
		display: flex;
		flex-flow: column wrap;
		justify-content: center;
		margin: 20px 0 0 0;
	}

	#returnFromDelete {
		display: flex;
		align-self: center;
		justify-content: center;
		margin: 20px 0 0 0;
		text-align: center;
	}
}